.detail
  = entries.size
  entries
  %table.entries
    - quantities = Bukkit::S3.quantities( entries )
    - expenses = Bukkit::S3.expenses( entries )
    - expenses.each do |usage_type, dollars|
      - next if usage_type == :all
      %tr
        %td
          %h4
            = usage_type.to_s.titleize
        %td
          = quantities[ usage_type ]
          = Bukkit::S3::UNITS[ usage_type ]
        %td
          \$
          = dollars
    %tr
      %td
        %h3 Total
      %td
      %td
        \$
        = expenses[:all]
      

